@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  /* Primary colors. */
  --clr-bright-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-very-dark-cyan: hsl(179, 100%, 13%);
  /* Neutral colors. */
  --clr-transparent-white: hsla(0, 0%, 100%, 0.75);
  --clr-very-light-gray: hsl(0, 0%, 95%);
  /* Attribution colors. */
  --clr-brandeis-blue: hsl(212, 95%, 48%);
  /* Fonts. */
  --ff-primary: "Lexend Deca", sans-serif;
  --ff-headings: "Big Shoulders Display", cursive;
}

.attribution {
  font-size: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.attribution a {
  color: var(--clr-bright-orange);
  text-decoration: none;
}

.attribution a:hover {
  color: var(--clr-brandeis-blue);
}
